{% extends "base.html" %}

{% block main %}
<main class="mt-3">
    <div class="container">
        <div class="d-inline-flex">
            <h2 class="mr-3 mb-3">Übersicht</h2>
            <a href="{% url 'todo:create-todo' %}" class="btn btn-custom-primary mb-3">neue TODO</a>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">TODO</th>
                <th scope="col">Deadline</th>
                <th scope="col">Fortschritt</th>
                <th scope="col">Einstellungen</th>
            </tr>
            </thead>
            <tbody>
            {% for task in task_list %}
                <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ task.task_text }}</td>
                <td>{{ task.deadline|date:"d.m.Y"}}</td>
                <td>
                    <div class="progress mt-1">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100"
                             aria-valuemin="0" aria-valuemax="100" style="width:{{ task.progress }}%">
                            {{ task.progress }}%
                        </div>
                    </div>
                </td>
                <td>
                    <a href="{% url 'todo:edit-todo' %}" class="btn btn-sm btn-custom-primary">Bearbeiten</a>
                    <button type="button" class="btn btn-sm btn-danger">Löschen</button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</main>
{% endblock %}
